<% callback = '' unless defined? callback %>
<%= render 'fb_app_plugin/load', callback: callback %>

<%= javascript_tag do %>
  fb_app.config.url_prefix = <%= url_for(action: :index).to_json %>
  fb_app.config.save_auth_url = <%= url_for(action: :save_auth).to_json %>
  fb_app.config.show_login_url = <%= url_for(action: :show_login).to_json %>
<% end %>

