<div id="fb-app-connect-status">
  <%= render 'intro' if @auth.not_authorized? %>
  <div id="fb-app-auth">
    <%= render 'auth' %>
  </div>
</div>

<% if @auth.connected? %>
  <div id="fb-app-timeline">
    <h2>
      <%= t('fb_app_plugin.views.myprofile.timeline.heading') %>
    </h2>

    <div id="track-form">
      <%= render 'track_form' %>
    </div>
  </div>
  <div id="fb-app-catalog">
    <%= render 'catalog' %>
  </div>
<% end %>
