<%= content_for :head do %>
  <%= stylesheet_link_tag '/plugins/fb_app/stylesheets/bootstrap-tokenfield.css' %>
  <%= stylesheet_link_tag '/plugins/fb_app/stylesheets/tokenfield-typeahead.css' %>
  <%= javascript_include_tag '/plugins/fb_app/javascripts/bootstrap-tokenfield.js' %>
<% end %>

<%= render 'load', callback: 'fb_app.fb.checkLoginStatus()' %>
<%= javascript_tag do %>
  fb_app.auth.status = <%= (@auth.status rescue FbAppPlugin::Auth::Status::NotAuthorized).to_json %>
<% end %>

<div id="fb-app-settings">
  <%= render 'settings' %>
</div>
