<% unless theme_responsive? %>
  <%= render file: "#{Rails.root}/app/#{__FILE__[__FILE__.index('views/')..-1]}" %>
<% else %>

<%= form_tag( { :controller => 'profile_search', :profile => profile.identifier}, :method => 'get', :class => 'search_form' ) do %>
  <div class="form-group">
    <div class="input-group">
      <%= text_field_tag 'q', @q, :title => _("Find in %s's content") % profile.short_name %>
      <span class="input-group-btn">
        <%= submit_button(:search, _('Search'),:btn_size => 'default') %>
        </span>
    </div>

    <div>
      <%= labelled_radio_button profile.short_name, 'where', 'profile', true, :title => _("Find in %s's content") % profile.short_name %>
      <%= labelled_radio_button _('General'), 'where', 'environment', false, :title => _("Search all content") %>
    </div>
  </div>
<% end %>

<% end %>
