<div class="box-edit">

  <%= form_for product, as: "product_#{product.id}", remote: true, html: {data: {loading: true}},
    :url => {:controller => :suppliers_plugin_product, :action => :edit, :id => product ? product.id : nil} do |f| %>

    <div class="internal-table">
      <div class="title">
        <%= t('views.product._edit.distribution_setts') %>
      </div>

      <div class="row first">
        <div class="block margin-price">
          <div class="field">
            <%= f.label :margin_percentage, t('views.product._edit.margin_price') %>
          </div>

          <div data-default-toggle>
            <%= f.check_box :default_margin_percentage %>
            <%= f.label :default_margin_percentage, t('views.product._edit.default_margin') %>
          </div>

          <div data-non-defaults>
            <span class="field-secondary with-unit">
              <%= f.text_field :margin_percentage, :class => 'product-margin-percentage',
                :value => product.margin_percentage_localized,
                :onkeyup => 'suppliers.our_product.pmsync(this, true);' %>
              <span class="field-unit"> <%= '%' %> </span>
            </span>
            <span class="field-secondary with-unit">
              <%= hidden_field_tag :base_price, product.from_product.price, :class => 'product-base-price', :id => 'product_base_price',
                :value => product.from_product.price_as_currency_number %>

              <span class="field-unit"> <%= environment.currency_unit %> </span>
              <%= f.text_field :price, :class => 'product-price',
                :value => product.price_as_currency_number,
                :onkeyup => 'suppliers.our_product.pmsync(this, false);' %>
            </span>
          </div>
        </div>

        <div class="block stock">
          <div class="field">
            <%= f.label :stock, t('views.product._edit.stock') %>
          </div>

          <div data-default-toggle>
            <%= f.check_box :default_stored %>
            <%= f.label :default_stored, t('views.product._edit.default_stock') %>
          </div>

          <div data-non-defaults>
            <span class="field-secondary">
              <%= f.label :stored, t('views.product._edit.current_stock'), :class => 'field-bellow' %>
              <%= f.text_field :stored %>
            </span>
          </div>
        </div>

        <div class="block available">
          <div class="field">
            <%= f.label :available, t('views.product._edit.distribution_state') %>
          </div>

          <div>
            <%= f.check_box :available %>
            <%= f.label :available, t('views.product._edit.available') %>
          </div>

        </div>
      </div>
      <div class="row second">
        <div class="block unit">
          <div class="field">
            <%= f.label :unit_id, t('views.product._edit.selling_unit') %>
          </div>

          <div data-default-toggle>
            <%= f.check_box :default_unit %>
            <%= f.label :default_unit, t('views.product._edit.same_from_purchase') %>
          </div>

          <div data-non-defaults>
            <span class="field-secondary">
              <%= f.label :unit_id, t('views.product._edit.unit'), :class => 'field-bellow' %>
              <%= f.select :unit_id, options_for_select(@units.map{ |u| [u.name, u.id]}) %>
            </span>
            <span class="field-secondary">
              <%= f.label :unit_detail, t('views.product._edit.unit_detail'), :class => 'field-bellow' %>
              <%= f.text_field :unit_detail %>
            </span>
          </div>
        </div>

      </div>
    </div>

    <div class="action-button-container">
      <%= f.submit t('views.product._edit.save'), :class => 'save' %>
      <%= link_to_function t('views.product._edit.cancel'), :class => 'action-button cancel', 'toggle-edit' => '' %>
      <%= link_to t('views.product._edit.remove_product'), remote: true, :confirm => t('views.product._edit.are_you_sure_you_want'),
        :url => {:controller => :suppliers_plugin_product, :action => 'destroy', :id => product.id }, :class => 'action-button remove',
        html: {data: {loading: "#our-product-#{product.id}"}} %>
    </div>
  <% end %>

  <div class="links">
    <% supplier_url = {:controller => :manage_products, :action => :show, :id => product.supplier_product.id, :profile => product.supplier.identifier} %>

    <% if product.own? %>
      <%= link_to t('views.product._edit.product_registry'),
        {:controller => :manage_products, :action => :show, :id => product.id},
        :target => '_blank', :class => 'action-button registry' %>
    <% elsif product.supplier.dummy? %>
      <%= link_to t('views.product._edit.product_registry'), supplier_url,
        :target => '_blank', :class => 'action-button supplier' %>
    <% else %>
      <%= link_to t('views.product._edit.view_on_supplier_page'), supplier_url,
        :target => '_blank', :class => 'action-button supplier' %>
    <% end %>
  </div>

</div>

<%= javascript_tag do %>
  suppliers.our_product.load(<%= product.id %>);
<% end %>

