<div class="field state">
  <label><%= t('suppliers_plugin.views.product.index.situation') %></label>
  <div>
    <%= select_tag :available, options_for_select([[t('suppliers_plugin.views.product.index.in_any_state'), ""], [ t('suppliers_plugin.views.product.index.active'), 'true'], [ t('suppliers_plugin.views.product.index.inactive'), 'false']], params[:available]) %>
  </div>
</div>

<div class="field category">
  <label><%= t('suppliers_plugin.views.product.index.category') %></label>
  <div>
    <%= select_tag :category_id, options_for_select(@product_categories.map{ |pc| [pc.name, pc.id]}.insert(0,[t('suppliers_plugin.views.product.index.all_the_categories'), ""])) %>
  </div>
</div>

<div class="field supplier">
  <label><%=t('suppliers_plugin.views.product.index.supplier') %></label>
  <div>
    <%= select_tag :supplier_id, options_for_select([[t('suppliers_plugin.views.product.index.all_the_suppliers'), ""]] + supplier_choices(profile.suppliers), params[:supplier_id].to_i) %>
  </div>
</div>

<!--
<div class="field qualifier">
  <label><%= t('suppliers_plugin.views.product.index.with_the_qualifiers') %></label>
  <div><%= select_tag :qualifier_id, options_for_select([t('suppliers_plugin.views.product.index.anyone'), '']) %></div>
</div>

<div class="field stock">
  <label><%= t('suppliers_plugin.views.product.index.whose_qty_available_i') %></label>
  <div><%= select_tag :stock, options_for_select([t('suppliers_plugin.views.product.index.bigger_than_the_stock'), '']) %></div>
</div>
-->

<div class="field name">
  <label><%= t('suppliers_plugin.views.product.index.name') %></label>
  <div><%= text_field_tag :name, params[:name] %></div>
</div>

