<div id="supplier-our-products">
  <h2>
    <%= t('views.product.index.products') %>
  </h2>

  <div>

   <div class="subtitle">
     <%= t('views.product.index.info') %>
    </div>

    <h3><%= t('views.product.index.default_margin_of_com') %></h3>
    <div class="subtitle">
      <%= t('views.product.index.default_margin_info') %>
    </div>

    <span id="profile-margin-percentage">
      <span class="<%= profile.margin_percentage.blank? ? 'none' : 'set' %>">
        <%= if profile.margin_percentage_localized then t('views.product.index.margin') % {:margin => profile.margin_percentage_localized} else t('views.product.index.no_margin_set') end %>
      </span>
      <%= modal_link_to t('views.product.index.change'), {:controller => :suppliers_plugin_myprofile, :action => :margin_change} %>
    </span>

  </div>

  <%= render 'suppliers_plugin_shared/filter', :type => :product %>
  <%= render 'suppliers_plugin_product/actions' %>

  <div id="search-results">
    <%= render :partial => 'suppliers_plugin_product/search' %>
  </div>

</div>
