<div id="cycle-admin-page" class='admin-page'>
  <%= render 'header', :cycle => @cycle, :timeline => false, :actions => false %>

  <div id="cycle-fields">
    <%= render 'edit_fields' %>
  </div>
</div>
