<div id="filter" class="wireframe-size <%= 'with-actions' if type == :product %>">

  <div class="title filter-box">
    <%= t('views.filter.filter') %>
  </div>

  <%= form_tag({action: :index}, remote: true, id: 'filter-form', data: {loading: '#filter', update: '#search-results', type: "html"},
    method: :get) do %>

    <div class="fields filter-box">

      <% if type == :supplier %>
        <%= render partial: 'suppliers_plugin_myprofile/filter_fields' %>
      <% elsif type == :product %>
        <%= render partial: 'suppliers_plugin_product/filter_fields' %>
      <% end %>

    </div>

    <div class="submit">
      <%= submit_tag t('views.filter.filter_it'), class: "filter-submit" %>
    </div>

  <% end %>
</div>

