<% provider_id = "provider-#{provider.id || 'new'}" %>

<%= form_for :provider,
  :url => {:controller => :oauth_plugin_admin_providers, :action => (if provider.new_record? then :new else :edit end), :id => provider.id},
  :html => {:multipart => true, :onsubmit => "return oauth.form.submit(this, '##{provider_id}')"} do |f| %>

  <%= error_messages_for :provider %>

  <table>
    <tr>
      <td><%= f.label :strategy %></td>
      <td><%= f.select :strategy, OauthPlugin::StrategiesDefs.map{ |s, d| [d[:name], s] } %></td>
    </tr>

    <tr>
      <td><%= f.label :identifier %></td>
      <td><%= f.text_field :identifier %></td>
    </tr>

    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>

    <tr>
      <td><%= f.label :site %></td>
      <td><%= f.text_field :site %></td>
    </tr>

    <tr>
      <%= f.fields_for :image_builder, provider.image do |fi| %>
        <td> <%= fi.label :uploaded_data, _('Icon') %> </td>
        <td>
          <%= image_tag provider.image_public_filename, :title => provider.name, :class => 'oauth-login-icon' if provider.image_public_filename %>
          <%= fi.file_field :uploaded_data, :size => 10 %>
        </td>
      <% end %>
    </tr>

    <tr>
      <td><%= f.label :key %></td>
      <td><%= f.text_field :key %></td>
    </tr>

    <tr>
      <td><%= f.label :secret %></td>
      <td><%= f.text_field :secret %></td>
    </tr>
  </table>

  <%= f.submit _('Save') %>
  <% unless provider.new_record? %>
    <%= link_to_remote _('Remove'),
      :url => {:controller => :oauth_plugin_admin_providers, :action => :destroy, :id => provider.id},
      :loading => "loading_overlay.show('##{provider_id}')" %>
  <% end %>
<% end %>

