<div id="" class="popin consumers-coop-plugin-message">
  <h1><%= t('views.message.new_to_admins.message_to_managers_o') % {:profile => profile.name} %></h1>

  <%= form_tag params, remote: true do %>
    <%= render :partial => 'fields' %>

     <%= submit_tag t('views.message.new_to_admins.send') %>
     <%= modal_close_link t('views.message.new_to_admins.cancel') %>
  <% end %>
</div>
