<div id="manage_friends">

<h1><%= _("%s's friends") % profile.name %></h1>

<% cache_timeout(profile.manage_friends_cache_key(params), 4.hours) do %>
  <% if @friends.empty? %>
    <p>
      <em>
        <%= _('You have no friends yet.') %>
        <%= link_to _('Do you want to see other people in this environment?'), :controller => 'search', :action => 'assets', :asset => 'people' %>
      </em>
    </p>
  <% else %>
    <% button_bar do %>
      <%= button(:back, _('Back to control panel'), :controller => 'profile_editor') %>
      <%= button(:search, _('Find people'), :controller => 'search', :action => 'assets', :asset => 'people') %>
      <% unless @plugins.dispatch(:remove_invite_friends_button).include?(true) %>
        <%= button(:search, _('Invite people from my e-mail contacts'), :controller => 'invite', :action => 'select_address_book') %>
      <% end %>
    <% end %>
  <% end %>

  <ul class="profile-list">
    <% @friends.each do |friend| %>
      <li>
      <%= link_to_profile profile_image(friend) + '<br/>' + friend.short_name,
                          friend.identifier, :class => 'profile-link' %>
      <div class="controll">
        <%= button(:remove, _('remove'), { :action => 'remove', :id => friend.id }, :title => _('remove')) %>
        <%= button(:'menu-mail', _('contact'), friend.url.merge(:controller => 'contact', :action => 'new', :profile => friend.identifier), :title => _('contact')) %>
      </div><!-- end class="controll" -->
      </li>
    <% end %>
  </ul>
  <div id='pagination-friends'>
    <%= pagination_links @friends, :param_name => 'npage' %>
  </div>

  <% button_bar do %>
    <%= button(:back, _('Back to control panel'), :controller => 'profile_editor') %>
    <%= button(:search, _('Find people'), :controller => 'search', :action => 'assets', :asset => 'people') %>
    <% unless @plugins.dispatch(:remove_invite_friends_button).include?(true) %>
      <%= button(:search, _('Invite people from my e-mail contacts'), :controller => 'invite', :action => 'select_address_book') %>
    <% end %>
  <% end %>
<% end %>

</div><!-- end id="manage_friends" -->

