<div id="orders-view" class="orders page">
  <h2><%= t('views.order.index.orders_cycles') %></h2>

  <div id="years-filter">
    <% @years_with_cycles.each do |year| %>
      <%= link_to year, {:action => :index, :year => year}, :class => (@year == year ? "current" : nil) %>
    <% end %>
  </div>

  <% if @cycles.blank? %>
    <div>
      <%= t('views.order.index.there_s_no_open_sessi') %>
    </div>
  <% end %>
  <% @cycles.each do |cycle| %>
    <div class="cycle-with-consumer-orders">
      <h3>
        <span><%= t('views.order.index.code') % { :code => cycle.code } %></span>
        <%= link_to cycle.name, {:action => :edit, :cycle_id => cycle.id} %>
      </h3>

      <%= render 'orders_cycle_plugin_cycle/view_dates', :cycle => cycle %>

      <% if cycle.can_order? user %>
        <% orders = cycle.sales.not_cancelled.for_consumer @consumer %>
        <% if orders.count > 0 %>
          <div>
            <strong><%= t('views.order.index.your_orders') %></strong>
            <div class="consumer-orders">
              <% orders.each do |order| %>
                <a href="<%= url_for :action => :edit, :id => order.id %>">
                  <%= render 'status', :order => order %>
                </a>
              <% end %>
              <div class="clean"></div>
            </div>
          </div>
        <% end %>
        <%= link_to t('views.order.index.place_another_order'), {:action => :new, :cycle_id => cycle.id}, :id => 'consumer-new-order' if cycle.orders? and not @consumer.nil? and cycle.can_order? user %>
      <% else %>
        <%= link_to t('views.order.index.place_an_order'), {:action => :new, :cycle_id => cycle.id}, :id => 'consumer-new-order' if cycle.orders? and not @consumer.nil? and cycle.can_order? user%>
      <% end %>

    </div>
  <% end %>
</div>
