<%
  actor_name ||= :supplier
  other_actor_name = if actor_name == :supplier then :consumer else :supplier end if other_actor_name.nil?
%>

<% if order.items.size == 0 %>
  <div class="empty-order">
    <span class="subtitle"><%= t('orders_plugin.views.admin._edit.empty_order') %></span>
    <%= link_to_function t('orders_plugin.views.admin._edit.cancel'), 'toggle-edit' => '' %>
  </div>
<% else %>

  <% content_for :order_header do %>
    <%= render 'orders_plugin_admin/header', :order => order, :other_actor_name => other_actor_name %>
  <% end %>

  <% content_for :order_footer do %>
    <% if actor_name == :supplier and order.open? %>

      <div>
        <%= check_box_tag 'warn_consumer', 1, false, :onchange => "jQuery(this).parent().next().toggle(this.checked); jQuery(this).siblings('.subtitle').toggle(this.checked);" %>
        <%= label_tag 'warn_consumer', t('orders_plugin.views.admin._edit.warn_member_of_the_ch'), :class => 'line-label' %>
        <div class="clean"></div>
        <div class="subtitle"><%= t('orders_plugin.views.admin._edit.the_collective_member') %></div>
      </div>

      <div>
        <%= check_box_tag 'include_message', 1, false, :onchange => "jQuery(this).parent().find('textarea').toggle(this.checked)" %>
        <%= label_tag 'include_message', t('orders_plugin.views.admin._edit.include_message'), :class => 'line-label' %>
        <div class="clean"></div>
        <div><%= text_area_tag 'message' %></div>
      </div>

      <%= javascript_tag do %>
        jQuery('#order-<%=order.id%> input[type=checkbox]').change();
      <% end %>

    <% end %>
  <% end %>

  <%= render 'orders_plugin_order/show', :order => order, :actor_name => actor_name %>

<% end %>

<div class="clean"></div>
