<% other_actor_name = if actor_name == :supplier then :consumer else :supplier end %>
<% edit = true if edit.nil? %>

<div id="order-row-<%=order.id%>" data-id="<%=order.id%>" class="order value-row <%=order.status%>" onclick="orders.admin.load_edit(this, '<%= url_for :action => :edit, :id => order.id, :actor_name => actor_name %>')" toggle-edit="orders.admin.toggle_edit();">
  <div class="box-view with-inner">
    <div class="box-field select" toggle-ignore><%= check_box_tag "order_ids[]", order.id %></div>

    <div class="box-view-inner">
      <span class='box-field code'><%= order.code %></span>
      <span class='box-field actor-name'><%= order.send("#{other_actor_name}_data")[:name] %></span>
      <span class='box-field order-date'><%= datetime_full order.created_at %></span>
      <span class='box-field last-update'><%= datetime_full order.updated_at %></span>
      <span class='box-field total'><%= order.total_price_as_currency_number actor_name %></span>
      <span class='box-field situation'><%= order_situation order %></span>
    </div>

    <%= edit_arrow "#order-row-#{order.id}", true, :class => 'actions' %>

    <div class="clean"></div>
  </div>

  <div class="box-edit <%= 'loading' if not edit %>">
    <% if edit %>
      <%= render 'orders_plugin_admin/edit', :order => order, :actor_name => actor_name, :other_actor_name => other_actor_name %>
    <% end %>
  </div>

  <div class="clean"></div>
</div>
