<% month ||= nil %>
<% year ||= nil %>
<% context_id ||= nil %>
<% wireframe_size = true if wireframe_size.nil? %>

<%= render 'orders_plugin_admin/filter', :actor_name => :consumer, :actors => actors, :orders_method => :purchases, :orders_context => orders_context, :context_id => context_id, :year => year, :month => month, :wireframe_size => wireframe_size %>
<%= render 'orders_plugin_admin/actions', :wireframe_size => wireframe_size, :orders_method => :purchases %>

<div id='purchases-table'>
  <%= pagination_links orders %>
  <%= render 'orders_plugin_admin/table', :actor_name => :consumer, :orders => orders, :wireframe_size => wireframe_size %>
</div>

