<% month ||= nil %>
<% year ||= nil %>
<% context_id ||= nil %>
<% wireframe_size = true if wireframe_size.nil? %>

<%= render 'orders_plugin_admin/filter', :actor_name => :supplier, :actors => actors, :orders_method => :sales, :orders_context => orders_context, :context_id => context_id, :month => month, :year => year, :wireframe_size => wireframe_size %>
<%= render 'orders_plugin_admin/actions', :wireframe_size => wireframe_size, :orders_method => :sales %>

<div id='sales-table'>
  <%= pagination_links orders %>
  <%= render 'orders_plugin_admin/table', :actor_name => :supplier, :orders => orders, :wireframe_size => wireframe_size %>
</div>

