<h1><%= _('Editing Appearance') %></h1>

<div id="template-options" class="list-options">

<h2><%= _('Select template') %></h2>

<% for templates in @layout_templates.in_groups_of(3) %>
  <div class="list-group">
    <% for template in templates %><%=
      if template
        base_content = image_tag(
          "/designs/templates/#{template.id}/thumbnail.png",
          :alt => _('The "%s" template')) +
        '<div class="opt-info">'.html_safe +
        content_tag('strong', template.name, :title => template.title, :class => 'name') +
        ' <br/> '.html_safe

        if @current_template == template.id  # selected
          content_tag( 'div',
            base_content + content_tag('big', _('(current)') ) +'</div>'.html_safe,
            :class => 'template-opt list-opt selected')
        else  # Not selected
          link_to(
            base_content +'</div>'.html_safe,
            { :action => 'set_layout_template', :id => template.id },
            :class => 'template-opt list-opt')
        end

      end
    %><% end %>
  </div>
<% end %>

</div><!-- end id="template-options" -->


<% if !@themes.empty? %>
<div id="theme-options" class="list-options">

<h2><%= _('Select theme') %></h2>
<%= button :home, _('Use the default theme'), { :action => 'unset'}, :method => 'post', :confirm => _('Are you sure you want to use the environment default theme?') %>

<% for themes in @themes.in_groups_of(3) %>
  <div class="list-group">
    <% themes.each do |theme| %>
      <% next unless theme %>

      <div  class="theme-opt list-opt <%= "selected" if theme.id == @current_theme %>">
        <a href="<%= url_for :action => 'set', :id => theme.id %>">

          <%= image_tag "/designs/themes/#{theme.id}/preview.png", :alt => (_('The "%s" theme.') % theme.name) %>

          <div class="opt-info">
            <strong class='name'><%= theme.name %> </strong>

            <% if theme.id == @current_theme %>
              <big> <%= _('(current)') %> </big>
            <% end %>

            <% if environment.enabled?('user_themes') %>
              <%= link_to _('edit CSS (for designers)'), {:controller => :themes, :action => :private_edit, :id => theme.id}, :class => 'modal-toggle' %>
            <% end %>
          </div>
        </a>
      </div>
    <% end %>
  </div>
<% end %>

</div><!-- end id="theme-options" -->
<% end %>



<% if environment.enabled?('user_themes') %>
  <div id="user-themes" class="list-options">

  <h2><%= _('My themes') %></h2>

  <% for themes in profile.themes.in_groups_of(3)  %>
    <div class="list-group">
      <% for theme in themes %><%=
        if theme

          selected = theme.id == @current_theme
          sel_html = selected ?
            content_tag('big', _('(current)') ) :
            link_to(_('Use this theme'), :action => 'set', :id => theme.id)

          content_tag( 'div',
            image_tag(
              '/images/icons-app/design-editor.png',
              :alt => (_('The "%s" theme.') % theme.name)) +
            '<div class="opt-info">' +
              content_tag('strong', theme.name, :class => 'name') +
              ' <br/> '+ sel_html +' <br/> ' +
              link_to(_('Edit this theme'), :action => 'edit', :id => theme.id) +
              ' <br/> ' +
              link_to(_('Test this theme'), :action => 'start_test', :id => theme.id) +
            '</div>',
            :class => 'theme-opt list-opt' + (selected ? ' selected' : '')
          )

        end
      %><% end %>
    </div>
  <% end %>

  </div><!-- end id="user-themes" -->
<% end %>

<br style="clear:both" />

<% button_bar do %>
  <% if environment.enabled?('user_themes') %>
    <%= modal_button :add, _('New theme ...'), :action => 'new' %>
  <% end %>
  <%= button(:back, _('Back'), :controller => 'profile_editor', :action => 'index') %>
<% end %>
