<h1><%= @form.name %></h1>
<p><%= @form.description %></p>

<% if @submission.id.nil? %>
  <% if @form.expired? %>
    <% if @form.will_open? %>
      <h2><%= _('Sorry, you can\'t fill this form yet') %></h2>
    <% else %>
      <h2><%= _('Sorry, you can\'t fill this form anymore') %></h2>
    <% end %>
  <% end %>

  <%= error_messages_for :submission %>

  <%= form_for :submission do |f| %>
    <% if !user %>
      <%= required labelled_form_field _('Author name'), text_field_tag(:author_name, @submission.author_name) %>
      <%= required labelled_form_field _('Author email'), text_field_tag(:author_email, @submission.author_email) %>
    <% end %>

    <%= render :partial => 'shared/form_submission', :locals => {:f => f} %>

    <% button_bar do %>
      <% if @form.expired? %>
        <%= submit_button :save, _('Save'), :disabled => '', :class => 'disabled', :cancel => {:controller => :profile, :profile => profile.identifier} %>
      <% else %>
        <%= submit_button :save, _('Save'), :cancel => {:controller => :profile, :profile => profile.identifier} %>
      <% end %>
    <% end %>

  <% end %>
<% else %>
  <%= fields_for :submission, @submission do |f| %>
    <%= render :partial => 'shared/form_submission', :locals => {:f => f} %>
  <% end %>
<% end %>

