<%= form_tag( { :controller => 'profile_search', :profile => profile.identifier}, :method => 'get', :class => 'search_form' ) do %>
  <div class="search-field">
    <span class="formfield">
      <%= text_field_tag 'q', @q, :title => _("Find in %s's content") % profile.short_name %>
    </span>
    <%= submit_button(:search, _('Search')) %>
    <div>
      <%= labelled_radio_button profile.short_name, 'where', 'profile', true, :title => _("Find in %s's content") % profile.short_name %>
      <%= labelled_radio_button _('General'), 'where', 'environment', false, :title => _("Search all content") %>
    </div>
  </div>
<% end %>
