<% callback = '' unless defined? callback %>

<div id="fb-root"></div>

<%= javascript_include_tag 'https://connect.facebook.net/en_US/all.js' %>
<%= javascript_tag do %>
  fb_app.current_url = <%= url_for(params).to_json %>;
  fb_app.base_url = 'https://<%= environment.default_hostname %>/plugin/fb_app';
  fb_app.fb.init(<%= (FbAppPlugin.config['app']['id'] rescue '').to_json %>,
    <%= url_for(only_path: false, action: :index).gsub('/fb_app_plugin', '').to_json %>,
    <%= callback.to_json %>
  );
<% end %>
