<% extend ManageProductsHelper %>

<%= button :back, 'Voltar à loja', params.except(:product_id), :target => '' %>
<%= render :file => "#{Rails.root}/app/views/manage_products/show.rhtml" %>

<%= render 'load' %>
