<%= render 'configure' %>

<div class="search-results-total">
  <%= '%d produtos' % @searches[@asset][:results].total_entries %>
</div>

<% extend SearchHelper %>
<% params[:controller] = 'search' # for partial_for_class to work %>
<%= render 'search/display_results' %>

<% params[:controller] = 'fb_app_plugin' %>
<%= pagination_links @searches[@asset][:results] %>

<%= render 'load' %>
