<%= javascript_include_tag '/plugins/fb_app/javascripts/fb_app_plugin.js' %>
<%= render 'load' %>
<%= javascript_tag do %>
  <% if @page_ids.blank? %>
  <% elsif @page_ids.size == 1 %>
    fb_app.fb.redirect_to_tab(<%= @page_ids.first.to_json %>);
  <% else %>
  <% end %>

<% end %>
