<h1 id='agenda-title'><%= _("Events at %s") % profile.name %></h1>

<div id='agenda-toolbar'>
  <%= button :back, _('Back to %s') % profile.name, profile.url %>
  <% if user && user.has_permission?('post_content', profile) %>
    <%= button :new, _('New event'), myprofile_url(:controller => 'cms', :action => 'new', :type => 'Event') %>
  <% end %>
</div>

<div style="clear: both"></div>

<%= render :partial => 'agenda' %>
