<!DOCTYPE html>
<html lang="<%= html_language %>">
  <head>
    <title><%= h page_title %></title>
    <%= yield(:feeds) %>
    <!--<meta http-equiv="refresh" content="1"/>-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="<%= @environment.name %>" />

    <!-- Twitter Card -->
    <meta name="twitter:card" value="summary">
    <meta name="twitter:title" content="<%= h page_title %>">
    <meta name="twitter:description" content="<%= meta_description_tag(@page) %>">

    <!-- Twitter Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="<%= image_path(theme_favicon) %>" type="image/x-icon" />
    <%= noosfero_javascript %>
    <%= noosfero_stylesheets %>

    <%# Add custom tags/styles/etc via content_for %>
    <%= yield :head %>
    <%=
      @plugins.dispatch(:head_ending).map do |content|
        if content.respond_to?(:call) then instance_exec(&content).to_s.html_safe else content.html_safe end
      end.join("\n")
    %>

    <script type='text/javascript'>
      DEFAULT_LOADING_MESSAGE = <%="'#{ _('loading...') }'" %>;
    </script>

  </head>
  <body class="<%= h body_classes %>">
    <a href="#content" id="link-go-content"><span><%= _("Go to the content") %></span></a>

    <%=
      @plugins.dispatch(:body_beginning).map do |content|
        if content.respond_to?(:call) then instance_exec(&content).to_s.html_safe else content.html_safe end
      end.join("\n")
    %>

    <%= render :partial => 'layouts/menu_responsive' %>

    <div id="wrap-1" class="container">
      <div id='theme-header'>
        <%= theme_header %>
      </div>
      <div id="content">
        <%= render 'layouts/profile_title' if profile %>
        <%= insert_boxes yield %>
      </div>
    </div>

    <%= render_environment_features(:logged_in) %>
    <div id="theme-footer" >
      <%= theme_footer %>
    </div><!-- end id="theme-footer" -->
    <%= noosfero_layout_features %>
    <%= theme_javascript_ng %>
    <%= addthis_javascript %>
    <%=
      @plugins.dispatch(:body_ending).map do |content|
        if content.respond_to?(:call) then instance_exec(&content).html_safe else content.html_safe end
      end.join("\n")
    %>

    <%= render 'layouts/modal' %>
  </body>
</html>
