<% extra_content = [] %>
<% extra_content_list = [] %>

<div id="product-catalog">
  <% if !user.nil? && ( user.is_admin?(profile.environment) || user.is_admin?(profile) ) %>
    <div class="product-catalog-ctrl">
      <%= button :product, _('Manage Products/Services'), :controller => :manage_products, :profile => profile.identifier %>
    </div>
  <% end %>

  <h1><%= _('Products/Services') %></h1>

  <%= content_for :product_page do %>
    <%= render 'catalog/results' %>
  <% end %>
  <%= render 'catalog/search' %>
  <%= render 'catalog/javascripts', external: false %>

  <%= add_zoom_to_images %>

  <br style="clear:both"/>
</div>
