<div id='display-product-name'>
  <h2>
    <span property="gr:name"  id='display-product-name-title'><%= @product.name %></span> 
    <% if @product.unit %>
      (<span property="gr:hasUnitOfMeasurement" id='display-product-name-unity'><%= @product.unit.singular %></span>)
    <% end %>
  </h2>
  <%= edit_product_link_to_remote(@product, 'name', _('Edit name and unit'), :title => _('Click here to edit the name of your product and the unit')) %>
</div>
<%= javascript_tag do %>
  jQuery('#display-product-category .hierarchy-category').first().html('<%=
    escape_javascript(hierarchy_category_navigation(
      @product.product_category,
      :make_links => false,
      :hide_current_category => @product.name_is_blank?)
    )
  %>')
<% end %>
