<%= content_for :product_page do %>

<!-- BEGIN PRODUCT -->
<div id="show_product"
  prefix="
    rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
    dct:http:/purl.org/dc/terms/
    foaf:http://xmlns.xom/foaf/0.1/
    gr:http://purl.org/goodrelations/v1#
    xsd: http://www.w3.org/2001/XMLSchema#
    essglobal: http://purl.org/essglobal/vocab/v1.0/
  "
  typeof="essglobal:ProductOrService">

  <div id="product-category">
    <%= render :partial => 'manage_products/display_category' %>
  </div>

  <div id='product-name'>
    <%= render :partial => 'manage_products/display_name' %>
  </div>

  <% if NOOSFERO_CONF['addthis_enabled'] %>
    <%= render :partial => 'content_viewer/addthis' %>
  <% end %>

  <div id='product-details'>
    <div id='product-image' class="zoomable-image">
      <%= render :partial => 'manage_products/display_image' %>
    </div>
    <div id='product-info'>
      <%= render :partial => 'manage_products/display_info' %>
    </div>
    <div id='product-extra-content'>
      <% extra_content = @plugins.dispatch(:product_info_extras, @product).collect { |content| instance_exec(&content) } %>
      <%= extra_content.join("\n") %>
    </div>
  </div>

  <br style='clear: both'/>

  <% unless !@allowed_user && (@product.description.blank? && @product.inputs.empty? && !@product.price_described? ) %>
    <% plugins_tabs = plugins_product_tabs %>

    <div class='ui-tabs' id='product-<%= @product.id %>-tabs'>
      <ul>
        <% if !@product.description.blank? || @allowed_user %>
          <li class='tab'><a href='#product-description'><%= _('Description') %></a></li>
        <% end %>
        <% if !@product.inputs.empty? || @allowed_user %>
          <li class='tab'><a href='#product-inputs'><%= _('Inputs and raw material') %></a></li>
        <% end %>
        <% if @product.price_described? || @allowed_user %>
          <li class='tab'><a href='#product-price-details'><%= _('Price composition') %></a></li>
        <% end %>

        <% plugins_tabs.each do |tab| %>
          <li class='tab'><a href='#<%=tab[:id]%>'><%= tab[:title] %></a></li>
        <% end %>
      </ul>
      <div id='product-description'>
        <%= render :partial => 'manage_products/display_description' %>
      </div>
      <div property="essglobal:isComposedBy" typeof="essglobal:CostComposition">
        <div id='product-inputs'>
          <%= render :partial => 'manage_products/display_inputs' %>
        </div>
        <% if @product.price_described? || @allowed_user %>
          <div id='product-price-details'>
            <%= render :partial => 'manage_products/display_price_details' %>
            <%= render :partial => 'manage_products/price_details_button' %>
          </div>
        <% end %>
      </div>

      <% plugins_tabs.each do |tab| %>
        <div id='<%=tab[:id]%>'><%= raw tab[:content] %></div>
      <% end %>
    </div>
  <% end %>

</div>
<!-- END PRODUCT -->
<%= add_zoom_to_images %>

<% button_bar do %>
  <%= button_to_function :back, _('Back to the product listing'), "catalog.product.back(#{params[:rank]})" %>
  <%= button :delete, _('Remove product or service'), {:action => 'destroy', :id => @product}, :class => 'requires-permission-manage_products', :style => 'display:none;' %>
<% end %>

<% end %>
<%= render 'catalog/form' %>
<%= render 'catalog/search' %>
<%= render 'catalog/javascripts' %>

