<% extend SolrPlugin::SearchHelper %>
<% set_facets_variables %>

<%= search_page_title( @titles[@asset], @category ) %>

<% if theme_responsive? %>

  <% unless @empty_query %>

    <div class="hidden-sm hidden-xs col-lg-3 col-md-4">
      <%= render :partial => 'facets' %>
    </div>

    <%= content_for :head do %>
      <%= javascript_include_tag "plugins/responsive/javascripts/hammer.min.js" %>
      <%= javascript_include_tag "plugins/responsive/javascripts/jquery.mmenu.min.all.js" %>
      <%= stylesheet_link_tag "plugins/responsive/jquery.mmenu.all.css" %>
    <% end %>

    <div id='solr-left-menu'>
      <%= render :partial => 'facets' %>
    </div>


    <script type="text/javascript">

      jQuery(document).ready(function(){
        jQuery('#solr-left-menu').mmenu({
          classes: 'mm-white',
          dragOpen: { open: true }
        });
      })

    </script>

  <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <%= render :partial => 'results' %>
  </div>

  <% else %>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <%= render :partial => 'results' %>
  </div>


  <% end %>


<% else %>

  <div id='search-column-left'>
    <%= render :partial => 'facets' if !@empty_query %>
  </div>

  <div id='search-column-right'>
    <%= render :partial => 'results' %>
  </div>

<% end %>

<div style="clear: both"></div>

<% if @asset == :products %>
  <%= javascript_tag do %>
    jQuery('.search-product-price-details').altBeautify();
  <% end %>
<% end %>
