<div class='edit-information edit-select'>
  <h2><%= _('Options') %></h2>
  <table class='action-table' style='width: 420px'>
    <tr>
      <th style='width: 40%'><%= _('Name') %></th>
      <th style='width: 40%'><%= _('Value') %></th>
      <th style='width: 20%'><%= _('Delete') %></th>
    </tr>
    <% option_counter = 1 %>
    <% (field.choices || {}).each do |name, value| %>
      <%= render :partial => 'option', :locals => {:name => name, :value => value, :counter => counter, :option_counter => option_counter} %>
      <% option_counter += 1 %>
    <% end %>
    <%= render :partial => 'empty_option', :locals => {:counter => counter, :option_counter => option_counter} %>
    <tr class='new-item'>
      <td colspan='3'>
        <%= button(:add, _('Add a new option'), '#', :class => 'new-option', :field_id => counter)%>
      </td>
    </tr>
  </table>

  <h3><%= _('Type') %></h3>
  <%= labelled_radio_button 'Radio', "fields[#{counter}][kind]", 'radio', !field.multiple && !field.list %><br />
  <%= labelled_radio_button 'Checkbox', "fields[#{counter}][kind]", 'check_box', field.multiple && !field.list %><br />
  <%= labelled_radio_button 'Select', "fields[#{counter}][kind]", 'select', !field.multiple && field.list %><br />
  <%= labelled_radio_button 'Multiple Select', "fields[#{counter}][kind]", 'multiple_select', field.multiple && field.list %><br />

  <% button_bar do %>
    <%= button :ok, _('Ok'), '#', :div_id => elem_id %>
  <% end %>
</div>

