<div class="row boxes">
  <div id="box-<%=boxes[0].id%>" class="col-lg-8 col-md-8 col-sm-6 col-lg-push-2 col-md-push-2 col-sm-push-3 box-container-1">
    <%= display_box_content boxes[0], main_content %>
  </div>
  <div id="box-<%=boxes[1].id%>" class="col-lg-2 col-md-2 col-sm-3 col-lg-pull-8 col-md-pull-8 col-sm-pull-6 box-container-2">
    <%= display_box_content boxes[1], main_content %>
  </div>

  <div id="box-<%=boxes[2].id%>" class="col-lg-2 col-md-2 col-sm-3 box-container-3">
    <%= display_box_content boxes[2], main_content %>
  </div>
</div>
