<% wireframe_size = false unless defined? wireframe_size %>

<div id="filter" class="<%= 'wireframe-size' if wireframe_size %>">

  <div class="title filter-box">
    <%= t('views.filter.filter') %>
  </div>

  <% url = {:controller => :orders_cycle_plugin_order, :action => :filter} if type == :order %>
  <%= form_tag url, remote: true, :id => 'filter-form', data: {loading: "#filter", :update => '#search-results'}, :method => :get do %>

    <div class="fields filter-box">

      <% if type == :supplier %>
        <%= render :partial => 'suppliers_plugin_myprofile/filter_fields' %>
      <% elsif type == :product %>
        <%= render :partial => 'suppliers_plugin_product/filter_fields' %>
      <% elsif type == :order %>
        <%= render :partial => 'filter_fields', :locals => {:cycle => cycle, :order => order} %>
      <% else %>
        <%= render :partial => 'filter_fields' %>
      <% end %>

    </div>

    <div class="submit">
      <%= submit_tag t('views.filter.filter_it'), :onclick => "suppliers.filter.submit(this)" %>
    </div>

  <% end %>
</div>


