<%= render "orders_plugin_item/index", order: order, actor_name: actor_name, f: f %>

<%= render 'orders_plugin_order/actor_data', order: order, f: f,
  actor_name: other_actor_name %>
<%= render 'orders_plugin_order/delivery', order: order, f: f,
  actor_name: :consumer %>
<%= render 'orders_plugin_order/delivery', order: order, f: f,
  actor_name: :supplier %>
<%= render 'orders_plugin_order/payment', order: order, f: f %>

