<%
  data = order.delivery_data actor_name
  other_supplier_methods = actor_name == :supplier && order.open? && order.delivery_methods.size > 1
%>

<% if data.present? or other_supplier_methods %>
  <div class="delivery-box order-section">

    <h3><%= t("views.order._delivery.#{actor_name}_heading") %></h3>

    <% data.each do |key, value| %>
      <div>
        <strong>
          <%= label_tag key, t("models.order.delivery_data.#{key}") %>
        </strong>
        <%= value %>
      </div>
    <% end %>

    <% if other_supplier_methods %>
      <%= labelled_field f, :supplier_delivery_id, t('views.order._delivery.choose_another'),
        f.select(:supplier_delivery_id, order.delivery_methods.collect{ |d| [d.name, d.id] }, {},
                 :onchange => "jQuery('.delivery-box').load('#{url_for(:action => :render_delivery, :id => order.id)}', jQuery(this).parents('form').serialize());"),
        :class => 'subtitle' %>
    <% end %>

  </div>
<% end %>
