<%
  other_actor_name = if actor_name == :supplier then :consumer else :supplier end
%>

<div id="order-<%=order.id%>" class="order-view <%= "editable" if order.may_edit? user, @admin rescue false %> <%= "admin" if @admin %>">

  <%= form_for order, as: :order,
    :url => {:controller => (if @admin then :orders_plugin_admin else :orders_plugin_order end), :action => :edit, :id => order.id, :actor_name => actor_name},
    :html => {:onsubmit => 'return orders.order.submit(this)'} do |f| %>

    <div class="order-data <%= "admin" if @admin %>">
      <%= yield :order_header %>

      <%= render "orders_plugin_order/data", order: order, actor_name: actor_name, other_actor_name: other_actor_name, f: f %>
    </div>

    <%= yield :order_footer %>

    <div class="actions">
      <% if @admin %>
        <%# link_to t('orders_plugin.views.admin._edit.edit_on_the_order_pag'), {:controller => :orders_plugin_order, :action => :edit, :id => order.id}, :target => '_blank', :class => 'action-button' %>

        <%= modal_link_to t('orders_plugin.views.admin._edit.message_to_actor') % {:actor => t("terms.#{other_actor_name}.singular")},
          {:controller => :orders_plugin_message, :action => :new_to_consumer_for_order, :order_id => order.id}, :class => 'action-button' %>

        <% if order.next_status actor_name %>
          <%= f.hidden_field :status, :value => order.next_status(actor_name) %>
          <%= f.submit t("models.order.statuses_verbs.#{order.next_status actor_name}") %>&emsp;
        <% end %>
      <% elsif order.open? %>
        <div>
          <%= hidden_field_tag "order[status]", 'ordered' %>
          <%= f.submit t('views.order._show.confirm_order'), :confirm => t('views.order._show.confirming_this_order') %>&emsp;

          <%= link_to t('views.order._show.cancel_order'), {:action => :cancel, :id => order.id} %>
        </div>
      <% end %>
    </div>

  <% end %>
</div>

