jQuery('#order-<%=@order.id%>').replaceWith("<%= j render('orders_plugin_order/show', :order => @order, :actor_name => @actor_name) %>");

<% if notice = session.delete(:notice) %>
  display_notice(<%= notice.to_json %>)
<% end %>

