/* use with @extend, CSS clear bugfix */
.clean {
  clear: both; }

.container-clean {
  overflow: hidden;
  display: inline-block;
  /* Necessary to trigger "hasLayout" in IE */
  display: block;
  /* Sets element back to block */ }

/* layout base parameters */
/* heights should only use multiples of this */
/* base measurements */
/* widths should only use one of these */
/* paddings and margins should only use one of these
   Ps. 1: disccount the borders size from padding, as borders uses padding's space.
   Ps. 2: because of W3C's content-box default box sizing, padding sums to width size. If your
   box doesn't have a padding, then sum $intercolumn to the width.
 */
/* use for borders */
/* use for text shadows */
/* Colors */
/* Fonts */
/* Paragraphs Styles (use with @extend) */
.pstyle-none {
  font-size: 12px; }

.pstyle-basic {
  font-size: 16px; }

.pstyle-button {
  font-size: 16px; }

.pstyle-button-small {
  font-size: 13px; }

.pstyle-title {
  font-size: 72px; }

.pstyle-h1 {
  font-size: 34px; }

.pstyle-h2 {
  font-size: 26px; }

.pstyle-h3 {
  font-size: 21px; }

.pstyle-h4 {
  font-size: 16px; }

.pstyle-h5 {
  font-size: 13px; }

.pstyle-title-section {
  font-size: 92px; }

.pstyle-field {
  font-size: 13px; }

.pstyle-menu-big-selected {
  font-size: 21px; }

.pstyle-menu-big-unselected {
  font-size: 21px; }

.pstyle-menu-medium-selected {
  font-size: 16px; }

.pstyle-menu-medium-unselected {
  font-size: 16px; }

.pstyle-menu-small-selected {
  font-size: 13px; }

.pstyle-menu-small-unselected {
  font-size: 13px; }

.pstyle-tp4 {
  font-size: 42px; }

.pstyle-tp3 {
  font-size: 34px; }

.pstyle-tp2 {
  font-size: 26px; }

.pstyle-tp1 {
  font-size: 21px; }

.pstyle-tm1 {
  font-size: 13px; }

.pstyle-tm2, .subtitle {
  font-size: 10px; }

/* Images */
/* profile-image that can be centered and resized with aspect ratio */
.profile-image {
  display: inline-block;
  /* do not put padding in this as background size will consider it. */ }
  .profile-image.thumb {
    width: 32px;
    height: 32px; }
  .profile-image.portrait {
    width: 80px;
    height: 80px; }
  .profile-image .inner {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-size: contain;
    /* css3 enabled */ }

/* Buttons */
.action-button {
  display: inline-block;
  padding: 4px 8px;
  margin: 0;
  /* remove submit input browser's margin */
  height: auto;
  width: auto;
  background: #fbca47;
  border: 1px solid #f4a439;
  cursor: pointer;
  color: black;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  border-radius: 5px; }

.loading-overlay {
  position: absolute;
  background-image: url(/images/loading-overlay.gif);
  opacity: 0.90;
  z-index: 10; }

.controller-oauth_plugin_admin .ui-tabs .ui-tabs-panel {
  padding: 8px; }

.oauth-login-icon {
  width: 20px;
  height: 20px; }

#oauth-login-options {
  float: right;
  font-size: 10px;
  font-style: italic; 
}